:root {
    --primary-color: aquamarine;
    --secondary-color: black;
    --teriary-color: darkgray;
}

* {
    margin: 0;
}

body {
    background-color: var(--teriary-color);
}

h2 {
    color: var(--primary-color);
}

header {
    background-color: rgb(25,39,52);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 50px;
}

header h1 {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    width: 180px;
    text-align: right;
    padding-right: 10px;
    margin-top: 3px;
}

header nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 2px solid var(--primary-color);
    padding: 0 10px 0 10px;
}

header nav ul li {
    padding: 10px 10px 10px 10px;
    margin-right: 50px;
    list-style: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*End Header and Nav Section*/

/* Start Hero Section*/

.hero {
    display: flex;
    height: 150px;
    background-image: url(../images/bg-hero.jpeg);
    background-size: cover;
    color: var(--primary-color);
    justify-content: right;
}

.hero-text h2 {
    text-align: end;
    margin-top: 100px;
    margin-right: 50px;
    background-color:var(--primary-color);
    color: var(--secondary-color);
    padding: 0 10px 0 10px;
    border-radius: 20px;
}

/* End Hero Section*/

/* About me section start*/

#about-me {
    display: flex;
    margin-top: 20px;
}

.vl {
    border-left: 6px solid var(--secondary-color);
}

#about-me h2 {
    margin: 0 20px 0 90px;
    text-align: right;
    font-size: 45px;
    width:auto;
} 

.me p {
    margin-left: 20px;
    margin-right: 50px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: rgb(000, 000, 000);
}

/* About me section end*/

/*Project Section Start*/

#work {
    display: flex;
    margin-top: 80px;
}

#work h2 {
    margin: 0 20px 0 100px;
    text-align: right;
    font-size: 45px;
    width: auto;
}
.project img {
    opacity: .5;
}

.project img:hover {
    opacity: 1;
}

.project img {
    position: relative;
    border: 5px solid var(--primary-color);
    width: 80vw;
    height:500px;
} 
.pro {
    margin-top: 20px;
    position: relative;
    width: 100%;
} 

h3 {
    position:relative;
    top: -150px;
    width: 10%;
    height: 10%;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size:larger;
    background-color: var(--primary-color);
    text-align: center;
    padding-right: 10px;
    padding-bottom: 15px;
}

#first-row p {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 0px;
}

.project {
    padding-left: 20px;
}

.future-pro img {
    width: 92%;
}

.future-pro p {
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.future-pro h3 {
    position:relative;
    top: -150px;
    width: 20%;
    height: 7%;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size:larger;
    background-color: var(--primary-color);
    text-align: center;
    padding-right: 10px;
}

.pro-small-row {
    display: flex;
    justify-content:space-evenly;
}

/*Project Section End*/

/* Start footer/contact section*/

footer {
    display: flex;
    margin-top: 80px;
}

.vl-contact {
    background-color: rgb(25,39,52);
    border-left: 6px solid var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;
    align-items: center; 
    font-weight: bolder; 
    width: 90vw;
    font-size: 25px;
    color:var(--primary-color);
}

.vl-contact div {
    border-bottom: 2px solid var(--primary-color);
    padding: 0 10px 0 10px;
}

.vl-contact a {
    color: var(--primary-color);
    text-decoration: none;
}

footer h2 {
    margin: 0 20px 0 58px;
    text-align: right;
    font-size: 45px;
    width: auto;
}

/* End footer/contact section*/



/*Media Query FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
    /* this will be applied on any screen smaller than 980px */

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        width: 100%;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .hero-text h2 {
        text-align: left;
        margin-right: 160px;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 20px;
    }

    #about-me {
        flex-wrap: wrap;
    }

    #about-me h2 {
        width: 100%;
        text-align: center;
        margin: 0 0 0 0;
    }

    #about-me p {
        text-align: center;
        width: 95%;
    }

    .vl {
        border: none;
    }

    #work {
        flex-wrap: wrap;
        width: 95%;
    }

    #work h2 {
        width: 100%;
        text-align: center;
    }

    #work img {
        width: 100%;
    }

    #contact-me {
        flex-wrap: wrap;
    }

    #contact-me h2 {
        width: 100%;
        text-align: center;

    }

    .vl-contact {
        text-align: center;
        border: none;
        width: 100%;
    }

}

/*Media Query FOR TABLETS AND SMALLER */

@media screen and (max-width: 768px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        width: 100%;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .hero-text h2 {
        background-color:var(--primary-color);
        color: var(--secondary-color);
        border-radius: 20px;
    }

    #about-me {
        flex-wrap: wrap;
    }

    #about-me h2 {
        width: 100%;
        text-align: center;
        margin: 0 0 0 0;
    }

    #about-me p {
        text-align: center;
        width: 95%;
    }

    .vl {
        border: none;
    }

    #work {
        flex-wrap: wrap;
        width: 95%;
    }

    #work h2 {
        width: 100%;
        text-align: center;
    }

    #work img {
        width: 100%;
    }

    h3 {
        padding-left: 15px;
      }

    #contact-me {
        flex-wrap: wrap;
    }

    #contact-me h2 {
        width: 100%;
        text-align: center;

    }

    .vl-contact {
        text-align: center;
        border: none;
        width: 100%;
    }

}

/*Media Query FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
    }

    header nav ul {
        width: 95%;
       justify-content: center;
    }

    header nav ul li a {
        font-size: 25px;
    }

    .hero-text h2 {
        text-align: center;
        margin-right: 0;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 20px;
        width: 98%;
    }

    #about-me {
        flex-wrap: wrap;
    }

    #about-me h2 {
        width: 100%;
        text-align: center;
        margin: 0 0 0 0;
    }

    #about-me p {
        text-align: center;
        width: 92%;
    }

    .vl {
        border: none;
    }

    #work {
        flex-wrap: wrap;
        width: 92%;
    }

    #work h2 {
        width: 95%;
        text-align: center;
    }

    #work img {
        width: 98%;
    }

    h3 {
      padding-left: 25px;
        width: 25%;
    }

    .pro-small-row h3 {
        width: 35%;
    }

    #contact-me {
        flex-wrap: wrap;
    }

    #contact-me h2 {
        width: 95%;
        text-align: center;

    }

    .vl-contact {
        border: none;
        width: 100%;
    }

    .vl-contact div {
        align-content:center;
    }

    .vl-contact a {
        font-size: 25px;
    }

}