* {
    margin: 0;
}

body {
    background-color: darkgray;
}

h2 {
    color: aquamarine;
}

header {
    background-color: rgb(25,39,52);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 50px;
}

header h1 {
    color: black;
    background-color: aquamarine;
    width: 180px;
    text-align: right;
    padding-right: 10px;
    margin-top: 3px;
}

header nav ul li a {
    color: aquamarine;
    text-decoration: none;
    border-bottom: 2px solid aquamarine;
    padding: 0 10px 0 10px;
}

header nav ul li {
    padding: 10px 10px 10px 10px;
    margin-right: 50px;
    list-style: none;
    
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.hero {
    display: flex;
    height: 150px;
    background-image: url(../images/bg-hero.jpeg);
    background-size: cover;
    color: aquamarine;
    justify-content: right;
}

.hero-text h2 {
    text-align: end;
    margin-top: 100px;
    margin-right: 50px;
    background-color: aquamarine;
    color: black;
    padding: 0 10px 0 10px;
    border-radius: 20px;
} 

#about-me {
    display: flex;
    margin-top: 20px;
} 

.vl {
    border-left: 6px solid black;
    
    
} 

#about-me h2 {
    margin: 0 20px 0 90px;
    text-align: right;
    font-size: 45px;
    width:auto;
} 

.me p {
    margin-left: 20px;
    margin-right: 50px;
}

/*Project Section Start*/

#work {
    display: flex;
    margin-top: 20px;
}

#work h2 {
    margin: 0 20px 0 100px;
    text-align: right;
    font-size: 45px;
    width: auto;
}
/*
.vl div {
    text-align: center;
}

.projects {
    margin-left: 20px;
    margin-right: 50px;
}

.projects a{
    text-align: center;
} 

.project img {
    position: relative;
    border: 3px solid aquamarine;
    width: 80vw;
    height:500px;
} */

/*Commented out section above was in place before project tile was added, uncomment after testing*/

/* .bt-left {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 33%;
    padding-left: 30px;
    padding-right: 10px;
    background-color: aquamarine;
    color: black;
    font-weight: bolder;
    font-size: xx-large;
} */

.pro {
    
    position: relative;
    
    
    
}

.pro-img {
    /* width: 900px; */
    width: 80%;
}

h3 {
    position:relative;
    /* top: 300px;
    left: 20px;  */
    top: -100px;
    width: 20%;
    /* padding-left:20px; */
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size:larger;
    background-color: aquamarine;
    text-align: center;
}

.img-text {
    font-size: 12px;
    text-align: center;
}

.project {
    padding-left: 20px;
}


/* .projects a {
    
    color: aquamarine;
} */

/*Project Section End*/

.contact {
    display: flex;
    margin-top: 20px;
    
    
} 

.vl-contact {
    border-left: 6px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;
    align-items: center; 
    font-weight: bolder; 
    width: 90vw;
    font-size: 25px;
    color:aquamarine;
}

.contact h2 {
    margin: 0 20px 0 58px;
    text-align: right;
    font-size: 45px;
    width: auto;
}